[submodule "packages/amavisd-new"]
	path = packages/amavisd-new
	url = https://aur4.archlinux.org/amavisd-new.git
[submodule "packages/ascii-fluid-dynamics-git"]
	path = packages/ascii-fluid-dynamics-git
	url = https://aur4.archlinux.org/ascii-fluid-dynamics-git.git
[submodule "packages/biosdisk-git"]
	path = packages/biosdisk-git
	url = https://aur4.archlinux.org/biosdisk-git.git
[submodule "packages/django-storages-hg"]
	path = packages/django-storages-hg
	url = https://aur4.archlinux.org/django-storages-hg.git
[submodule "packages/haskell-codec-mbox"]
	path = packages/haskell-codec-mbox
	url = https://aur4.archlinux.org/haskell-codec-mbox.git
[submodule "packages/haskell-fclabels"]
	path = packages/haskell-fclabels
	url = https://aur4.archlinux.org/haskell-fclabels.git
[submodule "packages/haskell-hsemail"]
	path = packages/haskell-hsemail
	url = https://aur4.archlinux.org/haskell-hsemail.git
[submodule "packages/haskell-largeword"]
	path = packages/haskell-largeword
	url = https://aur4.archlinux.org/haskell-largeword.git
[submodule "packages/haskell-tagged"]
	path = packages/haskell-tagged
	url = https://aur4.archlinux.org/haskell-tagged.git
[submodule "packages/htop-git"]
	path = packages/htop-git
	url = https://aur4.archlinux.org/htop-git.git
[submodule "packages/https-everywhere-chrome"]
	path = packages/https-everywhere-chrome
	url = https://aur4.archlinux.org/https-everywhere-chrome.git
[submodule "packages/https-everywhere-chrome-git"]
	path = packages/https-everywhere-chrome-git
	url = https://aur4.archlinux.org/https-everywhere-chrome-git.git
[submodule "packages/linode-api-python-git"]
	path = packages/linode-api-python-git
	url = https://aur4.archlinux.org/linode-api-python-git.git
[submodule "packages/mat-git"]
	path = packages/mat-git
	url = https://aur4.archlinux.org/mat-git.git
[submodule "packages/mbox-tools"]
	path = packages/mbox-tools
	url = https://aur4.archlinux.org/mbox-tools.git
[submodule "packages/perl-captcha-recaptcha-mailhide"]
	path = packages/perl-captcha-recaptcha-mailhide
	url = https://aur4.archlinux.org/perl-captcha-recaptcha-mailhide.git
[submodule "packages/perl-convert-uulib"]
	path = packages/perl-convert-uulib
	url = https://aur4.archlinux.org/perl-convert-uulib.git
[submodule "packages/perl-css-inliner"]
	path = packages/perl-css-inliner
	url = https://aur4.archlinux.org/perl-css-inliner.git
[submodule "packages/perl-extutils-typemap"]
	path = packages/perl-extutils-typemap
	url = https://aur4.archlinux.org/perl-extutils-typemap.git
[submodule "packages/perl-xmlrpc-lite"]
	path = packages/perl-xmlrpc-lite
	url = https://aur4.archlinux.org/perl-xmlrpc-lite.git
[submodule "packages/php-ssh-git"]
	path = packages/php-ssh-git
	url = https://aur4.archlinux.org/php-ssh-git.git
[submodule "packages/pycollada-git"]
	path = packages/pycollada-git
	url = https://aur4.archlinux.org/pycollada-git.git
[submodule "packages/python-pyshp"]
	path = packages/python-pyshp
	url = https://aur4.archlinux.org/python-pyshp.git
[submodule "packages/python-tqdm"]
	path = packages/python-tqdm
	url = https://aur4.archlinux.org/python-tqdm.git
[submodule "packages/python2-moviepy-git"]
	path = packages/python2-moviepy-git
	url = https://aur4.archlinux.org/python2-moviepy-git.git
[submodule "packages/python2-moviepy"]
	path = packages/python2-moviepy
	url = https://aur4.archlinux.org/python2-moviepy.git
[submodule "packages/python2-pywikibot-git"]
	path = packages/python2-pywikibot-git
	url = https://aur4.archlinux.org/python2-pywikibot-git.git
[submodule "packages/s3fs-c-git"]
	path = packages/s3fs-c-git
	url = https://aur4.archlinux.org/s3fs-c-git.git
[submodule "packages/soqt-hg"]
	path = packages/soqt-hg
	url = https://aur4.archlinux.org/soqt-hg.git
[submodule "packages/tor-browser-en"]
	path = packages/tor-browser-en
	url = https://aur4.archlinux.org/tor-browser-en.git
[submodule "packages/eml2mbox"]
	path = packages/eml2mbox
	url = https://aur4.archlinux.org/eml2mbox.git
[submodule "packages/newsblurbackgroundtab-git"]
	path = packages/newsblurbackgroundtab-git
	url = https://aur4.archlinux.org/newsblurbackgroundtab-git.git
[submodule "packages/s3cmd-git"]
	path = packages/s3cmd-git
	url = https://aur4.archlinux.org/s3cmd-git.git
