*.tar.gz
*.tar.xz
*.tgz
*~
*.bz2
*.part
packages/*/src/
packages/*/pkg/
packages/*/*.log
packages/*/*/branches/
packages/*/*/config
packages/*/*/description
packages/*/*/FETCH_HEAD
packages/*/*/HEAD
packages/*/*/hooks/
packages/*/*/info/
packages/*/*/objects/
packages/*/*/packed-refs
packages/*/*/refs/
packages/*/*.patch
packages/*/*/.hg/
*.crx
*.asc
*.sig
