[submodule "packages/amavisd-new"]
	path = packages/amavisd-new
	url = https://aur4.archlinux.org/amavisd-new.git
[submodule "packages/ascii-fluid-dynamics-git"]
	path = packages/ascii-fluid-dynamics-git
	url = https://aur4.archlinux.org/ascii-fluid-dynamics-git.git
[submodule "packages/biosdisk-git"]
	path = packages/biosdisk-git
	url = https://aur4.archlinux.org/biosdisk-git.git
[submodule "packages/django-storages-hg"]
	path = packages/django-storages-hg
	url = https://aur4.archlinux.org/django-storages-hg.git
[submodule "packages/haskell-codec-mbox"]
	path = packages/haskell-codec-mbox
	url = https://aur4.archlinux.org/haskell-codec-mbox.git
[submodule "packages/haskell-fclabels"]
	path = packages/haskell-fclabels
	url = https://aur4.archlinux.org/haskell-fclabels.git
